html *, body {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    width: auto;
    height: auto;
    letter-spacing: 0.03em;
    line-height: 1.6;
    /* background-color: #f6f1e8 !important; */
    /* last-child*/
}

nav{
    height: 200px;
    background-color: #f6f1e8 ;
    display: flex;
    align-items: center;
    justify-content:flex-start;

}
nav ul{
    margin: 0;
    list-style-type: none;
    
}

nav ul li{
    list-style: none;
    display: inline-flex;
    font-size: 1.25rem;
    margin: 0;
    border-left: 0.125rem solid #D8D2C4;
    
}

nav ul li a{
    text-decoration: none;
    color: #585655;
    font-weight: 700;
 
    font-size: 20px;
    line-height: 2.8125rem;
    padding: 0 1.125rem;
    
    
   
}
nav ul li a:hover{
    color: #d4a58a;
}

.logo{
    margin: 0 20px 0 20px;
}

.ad{
    height: 50px;
    background-color: #ae8468;
}
.ad p{
    padding: 10px;
    text-align:center;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px #f6f1e8;
}



.form{
    width: 90%;
    max-width:  800px;
    background-color: #f6f1e8;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 1em 3em 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0, 0.5);
    text-align: center;  
}

.form-title1{
    font-size: 2rem;
    margin-bottom: .5em;
    color: #5a5a5a;
    padding: 40px 0 0 0;
    margin: 0;
}
.form-subtitle1{
    font-weight: 300;
    
}

.form-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
}

.form-group{
    position: relative;
    --color: #5757577e;
    width: 40%;

}
.form-input{
    width: 100%;
    background:#f6f1e8;
    color: #706c6c;
    font-size: 1rem;
    padding: .5em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Fredoka', sans-serif;
}


.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-20px) scale(.9);
    transform-origin: left top;
    color: #ae8468;
}
.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form-submit{
    background:#ae8468;
    color: white;
    font-size: 1rem;
    padding: .8em 45%;
    border: none;
    border-radius: .5em;
}
.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ae8468;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line{
    transform: scale(1);
}

.date-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .5em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Fredoka', sans-serif;
    font-size: 17px;
    padding: 0  0 0;
}

.date-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 37% ;
    justify-content: center;
    
}

.date-delivery{
    margin: 20px 0 ;
    font-weight: 700;
    text-align: start;
    
}
.place-delivery{
    margin: 20px 0 0 0 ;
    font-weight: 700;
    text-align: center;
    
}
.time-delivery{
    margin: 20px 0 ;
    font-weight: 700;
    text-align: start;
    
}
.date{
    position: relative;
    
}
.maps-container{
   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* .flavors-check{
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 0;
    font-weight: 600;   
}
.desc{
    font-weight: 300;
}

.flavors-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 10% ;
    justify-content: center;
}

.flavors-container .flavors img{
        width: 120px;
        height: 100px; 
        border-radius: .5em;
        margin-top: 10px;
        
} */
.flavors-container1{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;

}

.flavors-container{
    height: 200px;
    width: 200px;
    background-color: #ddd2cb ;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: .5em;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 100%;
}
input[type="checkbox"]:after{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 18px;
    color: #ae8468;
    right: 5px;
    top: -15px;
}
input[type="checkbox"]:checked::after{
    font-weight: 900;
    content: "\f058";
    color: #ae8468;
}
.flavors-container img{
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 150px;
    height: 130px;
}
.flavors-container p{
    position: absolute;
    bottom: 78%;
    left: 20%;
    right: 20%;
}

.ingredients{
    height: 200px;
    width: 200px;
    background-color: #ddd2cb ;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: .5em;
    position: relative;
    cursor: pointer;
}
.ingredients img{
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 150px;
    height: 130px;
}
.ingredients p{
    position: absolute;
    bottom: 78%;
    left: 20%;
    right: 20%;
}
.ingredients-container{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}
.textarea-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
}
.text-gorup{
    position: relative;
    --color: #5757577e;
    width: 90%;
    margin-bottom: 2em;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    margin-top: 300px;
    width: 100%;
    background-color: #f6f1e8;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 20px 0px;
    border-top: solid 1px#9c7157;
    
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
    width: 220px;
    height: 200px;
    object-fit: none;
    
}
.pie-pagina .grupo-1 .box h2{
    color: #9c7157;
    margin-bottom: 10px;
    font-size: 20px;
    font-size: 1.5em;
}
.pie-pagina .grupo-1 .box p{
    color: #9c7157;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box .tel{
    font-size: 1em;
    margin: 0;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #9c7157;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #f6f1e8;
}
.pie-pagina .grupo-2{
    background-color: #9c7157;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


@media (max-width: 880px){
    .item{
        display: none;
    }
   nav{
       display: flex;
       justify-content: center;
   }
   .ad{
       height: auto;
   }
   .ad p{
       font-size: 17px;
       text-shadow: none;
   }
}
@media (max-width: 630px){
    .form-group{
        width: 100%;
    }
    .maps-container{
        justify-content: center;

    }
    .date-delivery{
       
        text-align: center;
        
    }
    
    .time-delivery{
        
        text-align: center;
    }

}